extends ./templates/layout.pug

block content
    include ../components/section-education/section-education.pug
    include ../components/section-content/section-content.pug
    include ../components/header-base/header-base
    include ../components/section-expirience/section-expirience
    include ../components/job/job

    +section-expirience('ОПЫТ РАБОТЫ')#jobs
        -
            var data_job1 = {date: '17.05.2018 - настоящее время',
            company: 'ООО "Групп- инфо"',
            position: 'веб- разработчик',
            charge: ['разработка структуры, макета, функционала и оформления сайта согласно пожеланиям заказчика',
            'верстка сайтов, написание клиентской (ajax) и серверной части "кнопок вызова" и форм обратной связи',
            'интеграция верстки с CMS (wordpress)',
            'размещение на сервере и поддержка сайтов компании']}
        +job(data_job1)

        -
            var data_job2 = {date: '17.07.2017 - 17.05.2018',
            company: '"Netgon" (фриланс)',
            position: 'верстальщик',
            charge: ['верстка сайтов для "Themforest" по psd- макету',
            'правка шаблонов (twig) для CMS OpenCart']}
        +job(data_job2)



    -
        var data_skils = [
        [{'text': 'адаптивная верстка, bootstrap, верстка по psd-макету.'}],
        [{'text': 'интеграция верстки с CMS (wordpress)'}],
        [{'text': 'написание обработчиков форм обратной связи: клиентская и серверная части'}],
        [{'text': 'работа с чужим кодом'}],
        [{'text': 'подключаю и настраиваю требуемые js и jquery- плагины, пишу свои небольшие компоненты  на javascript.'}],
        [{'text': 'применяю css -препроцессор SASS, HTML – шаблонизатор Pug.'}],
        [{'text': 'применяю методологию БЭМ'}],
        [{'text': 'знаком c Gulp.'}],
        [{'text': 'PHP базовый уровень, знаком с ООП, концепцией MVC - выполнял учебные проекты.'}],
        [{'text': 'знаком с Yii2  - выполнял учебный проект.'}],
        [{'text': 'знаком c Git.'}]
        ]
    +section-content('ПРОФЕССИОНАЛЬНЫЕ НАВЫКИ', data_skils).section-content_light#skils
    -
        var data_projects = [
        [
        {'text': 'верстка для "Themforest"'},
        {'link': 'https://themeforest.net/item/shlok-construction-and-architect-html-template/21155081?s_rank=3',
        'text': 'Shlok'},
        {'text': '(исходный код предоставлю по запросу)'}
        ],
        [
        {'link': 'https://github.com/Gmol78/responsive-menu',
        'text': 'отзывчивое main-nav (pug, js, sass): исходный код'}
        ],
        [
        {'text': 'cайт по ремонту компьютеров и ноутбуков',
         'link': 'http://рнд.пкремонт.рф'
        }
        ],
        [
        {'text': 'сайт для производителя гибкого камня',
         'link': 'http://гибкий-камень.рус'}
        ],
        [
        {'text': 'исходный код этой странички ) (gulp, pug, sass)',
        'link': 'https://github.com/Gmol78/summary'}
        ]
        ]
    +section-content('ПРОЕКТЫ', data_projects)#projects
    -
        var data_about = [
        [{'text': 'адекватно отношусь к критике, всевозможным «уточнениям» и «изменениям», «пожеланиям заказчика».'}],
        [{'text': 'cохраняю и поддерживаю товарищескую атмосферу в коллективе.'}],
        [{'text': 'умею "дожать" проект'}],
        [{'text': 'непрерывно самообучаюсь'}]
        ]
    +section-content('О СЕБЕ', data_about).section-content_light#about
    -
        var data_contacts = [
        [{'text': 'телефон: +7-903-840-04-00; +7-953-422-74-91'}],
        [{'link':'mailto:imoldev@yandex.ru', 'text': 'e-mal: imoldev@yandex.ru'}],
        [{'text': 'skype: igor_mol78'}]
        ]
    +section-content('КОНТАКТЫ', data_contacts)#contacts
