section.section-education
    .container
        .row
            .col-lg-10.order-2.order-lg-1
                h3.section-education__header-name
                    |Молочников Игорь Владимирович
                ul.section-education__list
                    li.section-education__list-item
                        |Дата рождения: 15 июля 1978г.
                    li.section-education__list-item
                        |Семейное положение: женат, трое детей
                h3.section-education__header-education
                    |Образование
                ul.section-education__list
                    li.section-education__list-item
                        |ТулГУ(1995-2001). Технологические машины и оборудование.
                        |Диплом с отличием.
                    li.section-education__list-item
                        |Аспирантура ТулГУ (2001-2004)
            .col-lg-2.order-1.order-lg-1
                .section-education__img-box
                    img.section-education__img(src = 'img/myfoto.jpg' alt="my foto")
