$base-font-color:      #000000
$helper-font-color:    #fff
$accent-font-color:    red
$helper-accent-color: #1110aa


$dark-backgr:          #6A656A
$darky-backgr:         #BBB5BB
$lightly-backgr:       #efe9f2
$light-backgr:         #e4dee4
