
include ../header-base/header-base


mixin section-expirience(header_text)
    setion.sectionexpirience&attributes(attributes)
        .container
            +header-base(header_text)
            block
